# MQTT Configuration
#required
MQTT_HOST=localhost
#optional
MQTT_SSL=false
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=RL_Stats_Gatherer

# Postgres configuration
#required
DB_HOST=localhost
DB_USERNAME=user
DB_PASSWORD=password
#optional
DB_PORT=5432
DB_NAME=rlstats
