{@com.janoz.rl.statgatherer.domain.entities.enums.Order order}
{@com.janoz.rl.statgatherer.domain.entities.enums.SortColumnPlayer sortBy}
{#if sortBy.label == name }
    <th hx-trigger="click" hx-target="#content" hx-get="/players?orderBy={name}&order={order.reverse.label}">
{#else}
    {#if name == "NAME" }
        <th hx-trigger="click" hx-target="#content" hx-get="/players?orderBy={name}&order=ASC">
    {#else}
        <th hx-trigger="click" hx-target="#content" hx-get="/players?orderBy={name}&order=DESC">
    {/if}
{/if}
    {name}
    {#if sortBy.label == name }
    <span>
    {#if order.label == "ASC"}
        ▼
    {#else}
        ▲
    {/if}
    </span>
{/if}
</th>
