    {#include player/base}
    <table id="playerlist">
        <tr>
            <th></th>
            {#include player/listColumn name="NAME"/}
            {#include player/listColumn name="MATCHES"/}
            {#include player/listColumn name="GOALS"/}
            {#include player/listColumn name="SHOTS"/}
            {#include player/listColumn name="ASSISTS"/}
            {#include player/listColumn name="SAVES"/}
            {#include player/listColumn name="DEMOS"/}
        </tr>

        {#for player in players}
                {#include player/playerRow player=player /}
        {/for}
    </table>
    {/include}