{@com.janoz.rl.statgatherer.domain.entities.views.PlayerDetail player}
{#include player/base}
    Player {player.player.name}
    <dl>
        <dt>Name</dt>
        <dd>{player.player.name}</dd>
        <dt>Id</dt>
        <dd>{player.player.onlineId}</dd>
        <dt>Matches</dt>
        <dd>{player.matches}</dd>
        <dt>Goals</dt>
        <dd>{player.goals}</dd>
        <dt>Shots</dt>
        <dd>{player.shots}</dd>
        <dt>Assists</dt>
        <dd>{player.assists}</dd>
        <dt>Saves</dt>
        <dd>{player.saves}</dd>
        <dt>Demos</dt>
        <dd>{player.demos}</dd>
    </dl>
{/include}