<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{title ?: 'RL Stats Gatherer'}</title>

    {#bundle /}
    <link href = "https://fonts.googleapis.com"  type = "text/css" rel = "preconnect" />
    <link href = "https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap" rel = "stylesheet"/>

</head>
<body>
<header>
<h1>Rocket League Statistics Gatherer</h1>
    <div id="menuContainer">
    {#include menu /}
    </div>
</header>
<div id="content">
{#insert}{/insert}
</div>
<footer>
    Footer
</footer>
</body>
</html>