table {
  width: 100%;

  tr {

    td,
    th {
      cursor: pointer;
      position: relative;
      padding-right: 20px;
      padding-left: 20px;
      span {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 10px;
      }
    }
  }
}

table#matchlist {
  tr{
    td:first-child,
    td:nth-child(2) {
      width: 1%;
      white-space: nowrap;
      padding-right: 5px;
    }
    td:nth-child(3) {
      font-size: 20px;
      text-align: right;
      padding-right: 20px;
    }
    td:nth-child(4) {
      font-size: 20px;
      text-align: center;
    }
    td:nth-child(5) {
      font-size: 20px;
      padding-left: 20px;
    }
  }
}



table#playerlist {
  tr {
    th:first-child,
    td:first-child {
      text-align: left;
      display: none;
    }

    td,
    th {
      text-align: right;
    }

    th:nth-child(2) {
      text-align: center;
    }

    td:nth-child(2) {
      text-align: left;
    }
  }
}